@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;800&family=Saira:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif ;
    scroll-behavior: smooth;
}

.hero-page{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.logo>img{
   height: 150px;
   width: 150px;
   margin-top: 4vh;
}

.website-name{
    font-weight: 700 ;
    font-size: 80px;
    margin-top: -5vh;
}

.orange{
    color: #D64213;
}

.description{
    margin: 0vw;
    width: 35vw;
}

.description>p{
    font-weight: 600;
}

.input-field{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 5vh;
    margin: 1vw;
}

.input-field:focus-visible{
    border: 1px solid #d64213;
}

.input{
    border: none;
    outline: none;
    width: 32vw;
    padding: 1vh;
}

.search-button{
    border: none;
    cursor: pointer;
    background-color: #FF7900;
    width: 40px;
}

.search-button>img{
    height: 16px;
    width: 16px;
}

.dish-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container{
    margin: 5vh;
}

.dish-image{
    width: 50vh;
    height: 50vh;
    /* transition: all 0.3s;
    transform: scale(1); */
}

.result-div{
    margin: 6vh;
    /* overflow: hidden; */
    margin: 1px solid black;
}

.result-div:hover{
    cursor: pointer;
}
.result-div:hover h3{
    color:#FF7900;
}

.result-div h3{
    width: 30vw;
}
/* .result-div:hover img{
    transform: scale(1.1);    
} */

h2{
    font-weight: 600;
    font-size: 25px;
}

h3{
    font-weight: 600;
}

.modal{
    height: 500px;
    background-color: whitesmoke;
    width: 500px;
    padding: 2vh;
    position: fixed;
    top:10%;
    left: 30%;
    display: none;
    overflow: hidden;
    box-shadow: 0 0 0 1000px #00000080;
}

.close{
    float: right;
    font-size: 30px;
    margin-left: 3vh;
    margin-top: -3vh;
    cursor: pointer;
}

.ingredients-text{
    text-align: center;
}

#modalIngredients{
    padding-left: 1vh;
}

#modalIngredients li{
    margin-bottom: 2px;
}
.ingredients-container{
    padding: 3vh;
}