@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;800&family=Saira:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif ;
    scroll-behavior: smooth;
}
/* Style for whole hero div*/
.hero-page{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* Logo Style */
.logo>img{
   height: 150px;
   width: 150px;
   margin-top: 4vh;
}

/* Websie name style */
.website-name{
    font-weight: 700 ;
    font-size: 80px;
    margin-top: -5vh;
}

.orange{
    color: #D64213;
}


.description{
    margin: 0vw;
    width: 35vw;
}

/* Style for Search box  */
.input-field{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 5vh;
    margin: 1vw;
}

.input-field:focus-visible{
    border: 1px solid #d64213;
}

.input{
    border: none;
    outline: none;
    width: 32vw;
    padding: 1vh;
}

.search-button{
    border: none;
    cursor: pointer;
    background-color: #FF7900;
    width: 40px;
}

.search-button>img{
    height: 16px;
    width: 16px;
}

/* Style for randomDishDiv */
.randomDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vh;
}

.main-container{
    margin: 5vh;
}

/* Style for searched dish container */
.dish-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    row-gap: 6vh;
    margin: 5vh;
}

/* Style for all displayed images */
.dish-image{
    width: 50vh;
}

/* Styles for Displayed Images and the container which holds them */
.result-div{
    overflow: hidden;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
    border: 1px solid #bfbfbf;
}

.result-div h3{
    width: 50vh;
}

.result-div:hover{
    cursor: pointer;
}

.result-div:hover h3{
    color:#FF7900;
}

h2{
    font-weight: 600;
    font-size: 32px;
}

h3{
    font-weight: 600;
}

/* Style for Modal */
.modal{
    height: 450px;
    background-color: white;
    width: 430px;
    padding: 2vh;
    position: fixed;
    overflow-y: scroll;
    display: none;
    top:14%;
    left: 33%;
    border: 1px solid black;
    box-shadow: 0 0 0 1000px #00000080;
}

/* Style for things inside modal */
.ingredients-container{
    padding: 1vh;
}

.close{
    float: right;
    font-size: 30px;
    margin-top: -3vh;
    cursor: pointer;
}

.close:hover{
    color: #FF7900;
}

.ingredients-text{
    text-align: center;
}

#modalIngredients{
    padding-left: 4.5vh;
    margin-top: 2.5vh;
}

#modalIngredients li{
    line-height: 4.5vh;
    font-weight: 500;
    font-size: 18px;
}

/* style for responsive */
@media screen and (max-width:600px){
    .logo>img{
        height:80px ;
        width:80px ;
        margin-top: 2vh;
    }

    .website-name{
        font-size: 37px;
        margin-top: -3vh;
    }
    
    .description{
        width: 75vw;
    }

    .description>p{
        font-size: 12px;
    }

    .input{
        width: 60vw;
    }

    .input-field{
        margin: 2vw;
    }

    .search-button{
        width: 30px;
    }

    .search-button>img{
        height: 13px;
        width: 13px;
    }

    .main-container{
        margin-top: 2vh;
    }

    h2{
        font-size: 20px;
    }

    .dish-image{
        width: 30vh;
    }

    h3{
        font-size: 15px;
    }

    .dish-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5vh;
    }

    .dish-container h3{
        width: 30vh;
    }

    .result-div h3{
        width: 30vh;
    }

    .modal{
        height: 300px;
        width: 240px;
        top: 22%;
        left: 10%;
    }

    .close{
        font-size: 25px;
    }

    #modalIngredients{
        padding-left: 3.5vh;
        margin-top: 1.5vh;
    }

    #modalIngredients li{
        font-size: 15px;
    }
}